In [1]:
import pandas as pd

In [ ]:
#Задание 1

In [89]:
data = pd.read_csv('/Users/max/Downloads/ml-20m/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [30]:
filtered_movies = data[(data['rating'] == 5.0)]

filtered_movies.head()

     userId  movieId  rating   timestamp
131       1     4993     5.0  1112484682
142       1     5952     5.0  1112484619
158       1     7153     5.0  1112484633
170       1     8507     5.0  1094786027
176       2       62     5.0   974820598

In [38]:
filtered_movies ['movieId'].value_counts().head()

318    31896
296    27762
593    22513
527    22355
260    22117
Name: movieId, dtype: int64

In [39]:
#Вывод: фильм с movieID = 318 имеет максимум оценок 5.0 31896

In [ ]:
#Задание 2

In [41]:
file = pd.read_csv('/Users/max/Downloads/Python_6_pandas_basics/power.csv')
file.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [43]:
file[file['country'].str.contains('est', case=False)]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [87]:
filtered_country = file[(file['country'] == 'Latvia') | (file['country'] == 'Lithuania') | (file['country'] == 'Estonia')]
filtered_country.head()
filtered_category = filtered_country[(filtered_country['category'] == 4) | (filtered_country['category'] == 12) | (filtered_country['category'] == 21)]
filtered_years = filtered_category[(filtered_category['year'] >= 2005) & (filtered_category['year'] <= 2010)]
filtered_quantity = filtered_years[(filtered_years['quantity'] >0)]
filtered_quantity.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4

In [85]:
sum(filtered_quantity['quantity'])

240580.0

In [ ]:
#Задание 3

In [88]:
pd.read_html('https://fortrader.org/quotes')

[                               Type    Last   Chg.  Chg.%  Time
 0  Нефть (BRENT) Курс нефти сегодня  60.540  0.940  1.580   NaN
 1   Нефть (WTI) Цены на нефть (WTI)  56.700  0.630  1.120   NaN
 2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
 3                   Газ Цена на газ   2.186 -0.023 -1.041   NaN,
                                     Type          Last      Chg.     Chg.%  \
 0                      ВТБ Акции ОАО ВТБ       0.03929  -0.00010  -0.25387
 1                 Газпром Акции газпрома     231.01000     -0.87  -0.38000
 2                    Лукоил Акции Лукойл    5282.00000     -37.0  -0.70000
 3                Роснефть Акции Роснефти     410.75000     +2.70   0.66000
 4               Сбербанк Акции Сбербанка     218.72000     +2.67   1.24000
 5   Сургутнефтегаз Акции Сургутнефтегаза      25.83500    -0.255  -0.97700
 6              Норникель Акции Норникель   15114.00000       -44  -0.00000
 7               Аэрофлот Акции Аерофлота     110.95000    +14.14  14.61000
 8            Северсталь Акции Северсталь     954.20000      -7.0  -0.70000
 9            Транснефть Акции транснефти  148800.00000   -17 500 -11.00000
 10     Ростелеком Курс акций ростелекома      80.91000     +8.08  11.09000
 11                     RUSAL акции RUSAL       3.05000     +0.04   1.33000

     Time
 0    NaN
 1    NaN
 2    NaN
 3    NaN
 4    NaN
 5    NaN
 6    NaN
 7    NaN
 8    NaN
 9    NaN
 10   NaN
 11   NaN  ,
                           Type      Last    Chg.    Chg.%  Time
 0      Серебро Цена на серебро    14.987 -2.1260 -12.4230   NaN
 1      Платина Цены на платину   855.100  5.1000   0.6000   NaN
 2    Палладий Цена на палладий  1473.800 -7.5000  -0.5100   NaN
 3      Медь Цена меди на бирже     2.579  0.0055   0.2137   NaN
 4  Золото Цена золота на бирже  1503.500 -2.9700  -0.2000   NaN,
                                 Type    Last   Chg.  Chg.%  Time
 0               Яндекс Акции яндекса   36.92   0.45   1.23   NaN
 1          Microsoft Microsoft Corp.  138.79  31.51  29.37   NaN
 2                  APPLE Акции APPLE  213.03   2.39   1.13   NaN
 3                Toyota Акции Тойоты  120.94   0.00   0.00   NaN
 4   Volkswagen Курс акций Volkswagen  146.06   1.45   1.00   NaN
 5       Facebook Цена акций Facebook  184.90   0.83   0.45   NaN
 6          Tesla Цены на акции Тесла  221.45  -4.53  -2.00   NaN
 7          Twiter Цена акций твитера   42.95   0.65   1.54   NaN
 8  Hasbro Цена на акции Hasbro, Inc.  115.12  30.25  35.64   NaN,
                                                 Type       Last      Chg.  \
 0                         EURUSD Курс евро к доллару    1.10969  -0.00029
 1   AUDUSD Курс австралийского доллара к доллару сша    0.71501   0.03749
 2         AUDCAD Australian Dollar / Canadian Dollar    0.95727   0.05492
 3                          EURCHF Euro / Swiss Franc    1.14008   0.05497
 4                  EURGBP Euro / Great Britain Pound    0.91562   0.00415
 5                         EURJPY Euro / Japanese Yen  125.80000   7.90500
 6          GBPJPY Great Britain Pound / Japanese Yen  145.40200  16.20700
 7                        GBPUSD Курс фунта к доллару    1.21178  -0.00503
 8       USDCAD Курс канадского доллара к доллару сша    1.33885   0.00737
 9              NZDUSD New Zealand Dollar / US Dollar    0.66833   0.02706
 10                    USDCHF US Dollar / Swiss Franc    1.01425   0.03669
 11         USDCNH Курс китайского юаня к доллару США    7.06815  -0.00182
 12                        USDJPY Курс йены к доллару  111.93100   5.72100

        Chg.%  Time
 0   -0.02613   NaN
 1    5.53342   NaN
 2    6.08633   NaN
 3    5.06585   NaN
 4    0.45531   NaN
 5    6.70500   NaN
 6   12.54500   NaN
 7   -0.41338   NaN
 8    0.55352   NaN
 9    4.21975   NaN
 10   3.75322   NaN
 11  -0.02574   NaN
 12   5.38600   NaN  ,
                                                  Type           Last  \
 0                               Bitcoin Курс биткоина   10016.400000
 1          Litecoin Курс лайткоин к доллару (LTC/USD)      71.513000
 2   BitcoinCash Курс Биткоин кеш к доллару США (BC...     294.710000
 3                                           Dash Dash      87.180000
 4                                       Ripple Ripple       0.262160
 5                                   Ethereum Ethereum     184.003000
 6                                   EmerCoin EmerCoin       0.140050
 7                                   NameCoin NameCoin       0.274000
 8                                   PeerCoin PeerCoin       1.300000
 9                             BTCRUB биткоин в рублях  247059.000000
 10                              BTCEUR биткоин в евро    8968.550000
 11                                        Zcash (ZEC)      48.821000
 12                                          NEO (NEO)       9.370400
 13                                          EOS (EOS)       3.467100
 14                                         TRON (TRX)       0.016595
 15                                             Monero      80.057000
 16                                            Cardano       0.049171
 17                                               IOTA       0.234990
 18                       ETC/USD эфириум классик, ETC       6.006700

          Chg.      Chg.%  Time
 0    -680.600  -6.363000   NaN
 1      -3.779  -5.019000   NaN
 2     -18.020  -5.762000   NaN
 3      -6.200  -6.640000   NaN
 4    -0.01145  -4.184790   NaN
 5     -12.618  -6.417000   NaN
 6     0.00000   0.000000   NaN
 7      -0.051 -15.692000   NaN
 8       +0.16  14.040000   NaN
 9   -3 097.00  -1.240000   NaN
 10   -598.450  -6.255000   NaN
 11     -3.256  -6.252000   NaN
 12    -0.5566  -5.606900   NaN
 13    -0.2102  -5.716200   NaN
 14  -0.000955  -5.441595   NaN
 15     -6.031  -7.006000   NaN
 16  +0.000582   1.197802   NaN
 17   -0.01507  -6.026550   NaN
 18    -0.0401  -0.663200   NaN  ,
                                        Type       Last    Chg.  Chg.%  Time
 0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00    0.00   0.00   NaN
 1                      РТС Курс индекса РТС    1278.85   15.50   1.23   NaN
 2                                     DAX30   12270.70  644.50   5.50   NaN
 3                       Индекс Dow 30 (DJI)   26194.00  316.00   1.00   NaN
 4                                      FTSE    7137.70   42.20   0.60   NaN
 5                                    CAC 40    5279.70    0.00   0.00   NaN
 6                                Nasdaq 100    7751.46   95.14   1.24   NaN
 7                              Russell 2000    1594.50    6.20   0.40   NaN
 8                                   S&P 500    2816.30   10.80   0.40   NaN
 9                                   IBEX 35    9595.40  970.40  11.30   NaN
 10                               Nikkei 225   21779.00   39.00   0.00   NaN
 11                            Euro Stoxx 50    3513.20  173.50   5.20   NaN
 12                                  S&P 500    2904.60    4.30   0.10   NaN
 13                              S&P/ASX 200    6288.50 -218.40  -3.40   NaN
 14                                      MIB   20835.00  338.00   2.00   NaN,
                                Type     Last    Chg.   Chg.%  Time
 0  EURRUB Курс евро к рублю сегодня  72.9594 -0.7833 -1.0622   NaN
 1       USDRUB Курс рубля к доллару  65.7598 -0.3972 -0.6004   NaN]