Лабораторная работа по курсу «Python для анализа данных»

Задача 1
Дана строка
string_01 = “Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters.”
1. Посчитайте, сколько в строке символов (исключая пробелы).
2. Посчитайте, сколько в строке слов.
3. Напишите функцию, которая будет принимать в качестве аргумента букву и
выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
4. Не обязательно: Напишите функцию, которая будет принимать в качестве
аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “m”).

In [38]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."
print(string_01)

Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters.

In [31]:
print(f"количество символов, исключая пробелы: {len(list(string_01)) - list(string_01).count(' ')}")

количество символов, исключая пробелы: 250

In [140]:
print(f"количество слов: {len(string_01.split(' '))}")

количество слов: 61

In [75]:
print(a[:-1])

Mama

In [179]:
def word_in_track(letter):
    result = []
    table = str.maketrans(dict.fromkeys(',.)('))
    words_list = string_01.split(' ')
    for word in words_list:
        if word.translate(table)[-1] == letter:
            a = word.translate(table)
            result.append(a)
    return result

In [180]:
word_in_track('a')

['Mama', 'a', 'a', 'Mama', 'Mama']

Задача 2
Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [181]:
import random

In [224]:
digits = 0
while digits >= 0:
    digits = random.randrange(0, 999999,1)
    if len(str(digits)) == 6 and str(digits).count("3") == 1:
        print(str(digits))
        break

480738

Задача 3
Дан список
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100.

In [227]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
total_elements = 0
for element in list_01:
    if 100 > element > 10:
        total_elements += element
print(total_elements)

212

Задача 4
Данные студентов представлены в виде списка списков:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009",
"БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010",
"БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"]
]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.
2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.
3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [228]:
students = [ ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"], ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"], ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"], ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"], ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"], ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"], ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"], ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"] ]

In [229]:
print(students)

[['0001', 'Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], ['1102', 'Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], ['0333', 'Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], ['4004', 'Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], ['0045', 'Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], ['0096', 'Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], ['0607', 'Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], ['0309', 'Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']]

In [241]:
students_dict = {}
for student in students:
    number, data = student[0],student[1:]
    students_dict.setdefault(number, data)
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [244]:
students_dict['0001'][-1]

'БСТ161'

In [248]:
def change_group(number, new_group_number):
    students_dict[number][-1] = new_group_number
    return students_dict

In [251]:
change_group('0309', 'БСТ111')

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ111'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ111']}

In [258]:
def students_list(group_number):
    group_list = []
    info = list(students_dict.values())
    for person in info:
        if group_number in person:
            group_list += person[:3]
    return group_list

In [259]:
students_list('БСТ161')

['Степанова', 'Наталья', 'Александровна', 'Боков', 'Игорь', 'Харитонович']

Выведите результат сложения всех элементов матрицы.
Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [297]:
import numpy as np

In [ ]:
matrix = np.array(
    [ 
        [0,1,2,4,8],
        [6,2,2,1,9],
        [3,3,3,3,3],
        [4,6,7,1,2],
        [5,7,3,4,0],
    ],
    np.int32
)

In [ ]:
np.sum(matrix)

In [ ]:
total_max = 0
for line in np.array(matrix).T:
    if sum(line) > total_max:
        total_max = sum(line)
print(total_max)