In [2]:
import pandas as pd

In [5]:
from surprise import Dataset, Reader, KNNBaseline
from surprise import accuracy

In [15]:
ratings = pd.read_csv('/Users/max/Downloads/ml-1m/ratings.dat', delimiter='::', header=None, 
        names=['user_id', 'movie_id', 'rating', 'timestamp'], 
        usecols=['user_id', 'movie_id', 'rating'], engine='python')

In [16]:
ratings.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [19]:
ratings.rating.unique()

array([5, 3, 4, 2, 1])

In [20]:
reader = Reader(rating_scale=(0.5, 5))

In [21]:
dataset = Dataset.load_from_df(ratings, reader)

In [24]:
from surprise.model_selection import KFold

In [25]:
kfold = KFold(5)

In [26]:
scores = []
for trainset, testset in kfold.split(dataset):
    algo = KNNBaseline(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
    algo.fit(trainset)
    predictions = algo.test(testset)
    scores.append(accuracy.rmse(predictions))

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8702
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8683
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8653
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8688
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8697